* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.main-header {
  background: black;
  color: white;
  margin: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}
.main-div__img {
  height: 50px;
  width: 50px;
}
.main-div__text {
  padding-left: 1rem;
  font-size: 2.2rem;
  position: relative;
  bottom: 3px;
  cursor: context-menu;
}
.main-nav {
  text-align: right;
  font-size: 1.6rem;
  margin: 0;
  padding-top: 1.5rem;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.main-nav__item {
  display: inline-block;
}
.main-nav__item a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  padding-bottom: 0.4rem;
}
.main-nav__item a:hover {
  color: #1f51ff;
  border-bottom: 3.5px solid #1f51ff;
}
.overview-section {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2rem;
}
.introduction-section {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}
.intro-text {
  font-size: 3rem;
  font-weight: 600;
  color: #05001e;
  line-height: 1.2rem;
  padding: 2rem;
  padding-bottom: 0;
  font-family: "Roboto", sans-serif;
}
.surname {
  color: #ffbd05;
}
.intro-occup {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #05001e;
  padding-left: 2rem;
}
.occup {
  color: #7ed957;
}
.into-about__button__div {
  padding: 1.5rem;
  position: relative;
  left: 13%;
}
.into-about__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: #05001e;
  border-radius: 40px;
  box-shadow: 4px 4px 10px #1f51ff;
  cursor: pointer;
}
.button-heading {
  font-size: 1.5rem;
  padding: 1rem;
}
.button-heading a {
  text-decoration: none;
  color: white;
}
.button-svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.intro-links {
  padding-left: 5.25rem;
  padding-top: 1rem;
  display: flex;
}
.links {
  height: 80px;
  width: 80px;
  padding: 1rem;
}
.photo-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-profile__img {
  border-radius: 50%;
  box-shadow: 2px 2px 10px #1f51ff;
}
.my-img {
  height: 200px;
  width: 180px;
}
.image {
  transition: transform 0.3s ease;
}

.image:hover {
  transform: translate(-25%, -15%) scale(1.5);
}
.about-section {
  font-family: "Roboto", sans-serif;
  color: #05001e;
  padding: 1rem;
}
.about-section__heading {
  font-size: 1.8rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.about-section__info {
  font-size: 1.2rem;
  padding: 1rem;
  padding-left: 7rem;
}
.about-section-tiles-container {
  width: 90%;
  height: 200px;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  margin: 1rem;
}
.about-section-tiles {
  display: block;
  background-color: whitesmoke;
  border: 1px solid #d8d3f0;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: 500;
  max-height: 200px;
  min-width: 200px;
  max-width: 200px;
  text-align: center;
  padding-top: 4.8rem;
  cursor: pointer;
  background-color: #96e673;
  box-shadow: 4px 4px 10px #d3cdf1;
}
.tile-info {
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  padding-top: 2rem;
  background-color: #96e673;
}
.skills-section {
  font-family: "Roboto", sans-serif;
  color: #05001e;
  padding: 1rem;
}
.skills-section__heading {
  font-size: 1.8rem;
  padding-left: 0.5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.skills-contaier {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;
  margin: 1rem;
  padding-left: 22%;
  margin-bottom: 3rem;
}
.skills-img {
  box-shadow: 4px 4px 10px #d3cdf1;
}
.education-section {
  font-family: "Roboto", sans-serif;
  color: #05001e;
  padding: 1rem;
}
.education-heading {
  font-size: 1.8rem;
  padding-left: 0.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
.vertical-line-left {
  border-left: 4px solid #05001e;
  height: 100%;
  margin-left: 49.7%;
}
.vertical-line-right {
  border-right: 4px solid #05001e;
  height: 100%;
  margin-right: 50%;
  text-align: right;
}
.date {
  margin: 0 1rem;
  font-size: 2rem;
  font-family: "M PLUS 1 Code", sans-serif;
  font-weight: bold;
  color: #05001e;
  text-shadow: 2px 2px 8px #d3cdf1;
}
.event-info {
  margin: 0 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #7ed957;
  text-shadow: 2px 2px 15px #d3cdf1;
}
.project-section_github {
  color: #05001e;
}
.project-section {
  font-family: "Roboto", sans-serif;
  color: #05001e;
  padding: 1rem;
  width: 80%;
  position: relative;
  left: 10%;
}
.project-section_heading {
  font-size: 1.8rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.project-section_info {
  font-size: 1.2rem;
  /* padding: 1rem; */
  text-shadow: 2px 2px 15px #d3cdf1;
}
.project-tech {
  color: #ffbd05;
  text-shadow: none;
}
.contact-section {
  font-family: "Roboto", sans-serif;
  color: #05001e;
  padding: 1rem;
  text-align: center;
}
.contact-section__heading {
  font-size: 1.8rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.contact-section__mail {
  font-size: 1.2rem;
  padding: 1rem;
}
.contact-section__social {
  font-size: 1.2rem;
  padding: 1rem;
}
.contact-section__social__links {
  font-size: 1.2rem;
  padding: 1rem;
  display: flex;
  padding-left: 43%;
}
.contact_links_img {
  height: 80px;
  width: 80px;
  padding: 1rem;
}
.break {
  color: #05001e;
  width: 80%;
}
.hidden {
  display: none;
}
